*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;  
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.quotes{
  position: relative;
}

blockquote{
  max-width: 720px;
  font-size:2rem;
  padding: 3rem;
  border-radius: 1.5rem;
  font-family: 'Fira Code', monospace;
}

.anime_name,.anime_character{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.anime_name{
  font-weight: 400;
  transform: translate(-25%,50%);
}

.anime_character{
  font-weight: 700;
  transform: translate(25%,50%);
  position: absolute;
  right: 0;
  bottom: 0;
}

button{
  color: #fff;
  width: 130px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn {
  border: 1px solid #fff;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
}
.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn:hover {
 box-shadow: rgba(255,255,255, 1) -1px -1px,  -2px -2px, rgba(255,255,255, 1) -3px -3px, rgba(255,255,255, .9) -4px -4px,
   rgba(255,255,255,.8) -5px -5px, rgba(255,255,255,.7) -6px -6px, rgba(255,255,255,.6) -7px -7px, rgba(255,255,255,.5) -8px -8px,
      rgba(255,255,255,.4) -9px -9px, rgba(255,255,255,.3) -10px -10px, rgba(255,255,255,.2) -11px -11px, rgba(255,255,255,.1) -12px -12px;
}
.btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}

.search-btn{
   transform: translate(-25%,45%); 
  position: fixed;
  top:0;
  right: 0;
}

.button-next{
  padding: 3rem;
}